*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-image: linear-gradient(to bottom right, rgb(25, 25, 235), rgb(252, 245, 245));
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container{
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 85vw;
    height: 75vh;
    background-color: white;
}

.header{
    position: fixed;
    width: 85%;
    height: 25%;
    background-color: green;
    text-align: center;
}

.content{
    margin-top: 25vh;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    background-color: whitesmoke;
    border: 2px solid rgb(15, 15, 15);
}

.item{
    background-color: yellow;
    width: 100%;
    height: 15%;
}
.fa{

}
.fa-circle-thin{

}
.fa-trash-o{

}
.complete{

}
.text{

}
.delete{
    
}