*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-image: linear-gradient(to bottom right, rgb(25, 25, 235), rgb(252, 245, 245));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    
}

.container{
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 85vw;
    height: 75vh;
    background-color: white;
}

.header{
    background-image: url("../Images/Wooden-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 85%;
    height: 25%;
    text-align: center;
    border: rgb(33, 4, 114) 3px solid;
    border-bottom: none;
}
.fa-sync-alt{
    font-size: 10vw;
    color: #ffffff;
    float: right;
    margin: 3vw;
}

#date {
    position: absolute;
    bottom: 0;
    margin-left: 2vw;
    font-size: 5vw;
    color: #f0e9e9;
    text-decoration: underline;
}

.content{
    margin-top: 25vh;
    width: 100%;
    height: 75%;
    background-color: whitesmoke;
    border: 2px solid rgb(15, 15, 15);
}
ul{
    list-style: none;
}



.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    
}
.fa-circle{
    font-size: 7vw;
    margin: 2vw;
}
.text{
    font-size: 6vw;
    text-decoration: underline;
}
.fa-trash-alt{
    font-size: 7vw;
    margin: 2vw;
}

.add-item{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10vh;
    border-top: 1px solid black;
}
.fa-plus-circle{
    font-size: 9vw;
    margin: 2vw;
    color: rgb(28, 59, 196);
}
#input{
    font-size: 5vw;
    margin: 2vw;
    border: dotted rgb(28, 59, 196);
}